*
!.dockerignore
!Dockerfile
!assets/
!assets/**
!*.html
!backend/
!backend/package.json
!backend/package-lock.json
!backend/src/
!backend/src/**
!backend/scripts/
!backend/scripts/**
!backend/assets/
!backend/assets/**
!robots.txt
!sitemap.xml
